<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>output</h1>
name:{{name}}<br>
password:{{password}}<br>
<!--중괄호안에 있는 값(모델)불러와 처리-->
<!--주소를 입력하면 02loginInput 화면이 나오고,
사용자가 입력한 값을 모델에 담아 03loginOutPut에 이동한다. -->
</body>
</html>
